<%- include("../partials/header.ejs"); %>

<div class="section section-header">
    <div class="ad-page parallax filter filter-color-black">
        <div class="headerFilter">
        <div class="image"
            style="background-image: url('/img/header-1.jpg'); background-size: auto;">
        </div>
        </div>

    </div>
</div>


<div class="section">
    <div class="container">
        <div class="row">

            <div class="col-md-9">
                <div class="fac-card">
                    <article class="blog-grid-itm__text">
                        <div class="card-info ad-card-title">
                            <p class="ad-title"><%= service.title %></p>
                        </div>
                        <div class="ad-cover">
                            <img src="<%= service.photos[0].src %>">
                        </div>
                        <div class="card-info ad-card-info">
                            <p class="ad-title">Service offer description</p>
                            <div class="">
                                <p><%= service.about %></p>
                            </div>
                            <p class="ad-title">About seller</p>
                            <hr>
                            <div class="ad-article-info">
                                <a href="#">
                                    <img src="http://localhost/It-Labs/dist/img/cosmin-avatar.jpg">
                                    <span>Cosmin</span>
                                    <span>-</span>
                                    <span>Grafician caramida</span>
                                    <span class="ad-rating">
                                        <i class="fas fa-star"></i>
                                        <span>3.5/5</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-md-3">
                <div class="fac-card">
                    <article class="blog-grid-itm__text">
                        <div class="ad-promo">
                            <p>Promoted ads</p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <article class="blog-grid-itm__text">
                        <div class="article-bg">
                            <a href="#">
                                <img src="https://images.unsplash.com/photo-1504222490345-c075b6008014?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80">
                            </a>
                        </div>
                        <div class="card-info">
                            <div class="article-info">
                                <a href="#">
                                    <img src="http://localhost/It-Labs/dist/img/cosmin-avatar.jpg">
                                    <span>Cosmin</span>
                                </a>
                                <span class="ad-rating">
                                    <i class="fas fa-star"></i>
                                    <span>3.5/5</span>
                                </span>
                            </div>
                            <a href="#">
                                <h4>Grafician caramida</h4>
                            </a>
                            <div class="article-content">
                                <a href="#">
                                    <p>O sa-ti construiesc casa visurilor tale din boltari si 3 kg de ciment, oh da da da.</p>
                                </a>
                            </div>
                            <span class="author-price">$69/h</span>
                            <span class="author-text">STARTING AT</span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <article class="blog-grid-itm__text">
                        <div class="article-bg">
                            <a href="#">
                                <img src="https://images.unsplash.com/photo-1504222490345-c075b6008014?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80">
                            </a>
                        </div>
                        <div class="card-info">
                            <div class="article-info">
                                <a href="#">
                                    <img src="http://localhost/It-Labs/dist/img/cosmin-avatar.jpg">
                                    <span>Cosmin</span>
                                </a>
                                <span class="ad-rating">
                                    <i class="fas fa-star"></i>
                                    <span>3.5/5</span>
                                </span>
                            </div>
                            <a href="#">
                                <h4>Grafician caramida</h4>
                            </a>
                            <div class="article-content">
                                <a href="#">
                                    <p>O sa-ti construiesc casa visurilor tale din boltari si 3 kg de ciment, oh da da da.</p>
                                </a>
                            </div>
                            <span class="author-price">$69/h</span>
                            <span class="author-text">STARTING AT</span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <article class="blog-grid-itm__text">
                        <div class="article-bg">
                            <a href="#">
                                <img src="https://images.unsplash.com/photo-1504222490345-c075b6008014?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80">
                            </a>
                        </div>
                        <div class="card-info">
                            <div class="article-info">
                                <a href="#">
                                    <img src="http://localhost/It-Labs/dist/img/cosmin-avatar.jpg">
                                    <span>Cosmin</span>
                                </a>
                                <span class="ad-rating">
                                    <i class="fas fa-star"></i>
                                    <span>3.5/5</span>
                                </span>
                            </div>
                            <a href="#">
                                <h4>Grafician caramida</h4>
                            </a>
                            <div class="article-content">
                                <a href="#">
                                    <p>O sa-ti construiesc casa visurilor tale din boltari si 3 kg de ciment, oh da da da.</p>
                                </a>
                            </div>
                            <span class="author-price">$69/h</span>
                            <span class="author-text">STARTING AT</span>
                        </div>
                    </article>
                </div>
            </div>
            
        </div>
    </div>
</div>

<div class="section" style="padding: 20px 0;">
    <div class="container">
        <div class="row">
            <div class="title-area">
                <h2>See more ads</h2>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="row">

<!-- AICI IL BAGI IN FOREACH -->
            <div class="col-md-3">
                <div class="card">
                    <article class="blog-grid-itm__text">
                        <div class="article-bg">
                            <a href="#">
                                <img src="https://images.unsplash.com/photo-1504222490345-c075b6008014?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80">
                            </a>
                        </div>
                        <div class="card-info">
                            <div class="article-info">
                                <a href="#">
                                    <img src="http://localhost/It-Labs/dist/img/cosmin-avatar.jpg">
                                    <span>Cosmin</span>
                                </a>
                                <span class="ad-rating">
                                    <i class="fas fa-star"></i>
                                    <span>3.5/5</span>
                                </span>
                            </div>
                            <a href="#">
                                <h4>Grafician caramida</h4>
                            </a>
                            <div class="article-content">
                                <a href="#">
                                    <p>O sa-ti construiesc casa visurilor tale din boltari si 3 kg de ciment, oh da da da.</p>
                                </a>
                            </div>
                            <span class="author-price">$69/h</span>
                            <span class="author-text">STARTING AT</span>
                        </div>
                    </article>
                </div>
            </div>
<!-- AICI IL BAGI IN FOREACH -->
<div class="col-md-3">
    <div class="card">
        <article class="blog-grid-itm__text">
            <div class="article-bg">
                <a href="#">
                    <img src="https://images.unsplash.com/photo-1504222490345-c075b6008014?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80">
                </a>
            </div>
            <div class="card-info">
                <div class="article-info">
                    <a href="#">
                        <img src="http://localhost/It-Labs/dist/img/cosmin-avatar.jpg">
                        <span>Cosmin</span>
                    </a>
                    <span class="ad-rating">
                        <i class="fas fa-star"></i>
                        <span>3.5/5</span>
                    </span>
                </div>
                <a href="#">
                    <h4>Grafician caramida</h4>
                </a>
                <div class="article-content">
                    <a href="#">
                        <p>O sa-ti construiesc casa visurilor tale din boltari si 3 kg de ciment, oh da da da.</p>
                    </a>
                </div>
                <span class="author-price">$69/h</span>
                <span class="author-text">STARTING AT</span>
            </div>
        </article>
    </div>
</div>
<div class="col-md-3">
    <div class="card">
        <article class="blog-grid-itm__text">
            <div class="article-bg">
                <a href="#">
                    <img src="https://images.unsplash.com/photo-1504222490345-c075b6008014?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80">
                </a>
            </div>
            <div class="card-info">
                <div class="article-info">
                    <a href="#">
                        <img src="http://localhost/It-Labs/dist/img/cosmin-avatar.jpg">
                        <span>Cosmin</span>
                    </a>
                    <span class="ad-rating">
                        <i class="fas fa-star"></i>
                        <span>3.5/5</span>
                    </span>
                </div>
                <a href="#">
                    <h4>Grafician caramida</h4>
                </a>
                <div class="article-content">
                    <a href="#">
                        <p>O sa-ti construiesc casa visurilor tale din boltari si 3 kg de ciment, oh da da da.</p>
                    </a>
                </div>
                <span class="author-price">$69/h</span>
                <span class="author-text">STARTING AT</span>
            </div>
        </article>
    </div>
</div>
<div class="col-md-3">
    <div class="card">
        <article class="blog-grid-itm__text">
            <div class="article-bg">
                <a href="#">
                    <img src="https://images.unsplash.com/photo-1504222490345-c075b6008014?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80">
                </a>
            </div>
            <div class="card-info">
                <div class="article-info">
                    <a href="#">
                        <img src="http://localhost/It-Labs/dist/img/cosmin-avatar.jpg">
                        <span>Cosmin</span>
                    </a>
                    <span class="ad-rating">
                        <i class="fas fa-star"></i>
                        <span>3.5/5</span>
                    </span>
                </div>
                <a href="#">
                    <h4>Grafician caramida</h4>
                </a>
                <div class="article-content">
                    <a href="#">
                        <p>O sa-ti construiesc casa visurilor tale din boltari si 3 kg de ciment, oh da da da.</p>
                    </a>
                </div>
                <span class="author-price">$69/h</span>
                <span class="author-text">STARTING AT</span>
            </div>
        </article>
    </div>
</div>



        </div>
    </div>
</div>

<%- include("../partials/footer.ejs"); %>